.map {
    margin-top: -53px;
    margin-bottom: 50px;
}

.breadcrumbs__map {
    position: relative;
    z-index: 100;
    background-color: rgba(126, 125, 125, 0.724);
    color: white;
}

.breadcrumbs__link-map {
    color: whitesmoke;
}