@media (max-width:1750px) {
    
}

@media (max-width:1300px) {

    .gallery-page .gallery__item:nth-child(8)  {
        grid-column: 1;
        grid-row: 1;
    }

    .swiper__top-title {
        font-size: 62px;
        line-height: 90px;
    }


    .swiper__top-text {
        max-width: 350px;
    }

    .collection {
        margin-top: 100px;
    }
    
    .collection__item-wrapper {
        grid-template-columns: repeat(3,1fr);
    }

    .collection__img {
        width: 100%;
    }
}


@media (max-width:1100px) {

    .about__content-text {
        padding-bottom: 0;
    }

    .contact__slide {
        grid-template-columns: repeat(5,1fr);
    }

    .inspiration__wrapper {
        max-width: 430px;
    }

    .inspiration__img {
        max-width: 350px;
    }

    .inspiration__title {
        font-size: 28px;
        line-height: 36px;
    }
}

@media (max-width:1040px) {

    .swiper-blog {
        max-width: 100%;
    }

    .blog__slide-img  {
        width: 100%;
    }

    .blog__content {
        max-width: 100%;
    }

    .blog__content-top  {
        width: 100%;
    }
    
    .blog__content-top-img  {
        width: 100%;
    }

    .blog__wrapper {
        flex-wrap: wrap;
    }

    .blog__aside{
        order: -1;
        margin-bottom: 50px;
    }
}

@media (max-width:935px) {

    .contact__slide {
        grid-template-columns: repeat(4,1fr);
    }

    .contact__wrapper {
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .contact__text {
        text-align: center;
        order: -1;
        margin-bottom: 25px;
    }

    .inspiration__wrapper {
        max-width: 100%;
        margin: 0;
        padding-bottom: 2px;
    }

    .inspiration__img {
        display: none;
    }


    .about__wrapper {
        margin-bottom: 50px;
    }

    .about__content-text {
        margin: 0;
    }

    .about__content-title {
        font-size: 32px;
        line-height: 45px;
    }

    .about__content-desc  {
        margin-bottom: 20px;
    }

    .swiper__top-img {
        max-height: 510px;
    }

    .swiper__top-title {
        font-size: 44px;
        line-height: 54px;
    }

    .swiper__top-pagination {
        position: absolute;
        bottom: -100px;
    }


    //footer
.footer {
    width: 100%;
    padding: 25px 0 40px;
}

.footer__wrapper {
    margin-bottom: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

.footer__left {
width: 380px;
margin-bottom: 40px;

}

.footer__right {
    justify-content: space-around;
}

//gallery

.gallery__items {
    gap: 10px;
}



.gallery__btn {
    margin-bottom: 15px;
    margin-right: 8px;
    padding: 3px 7px;
}

}

@media (max-width:840px) {
    .collection__item-wrapper {
        grid-template-columns: repeat(2,1fr);
    }

    .decor__title {
        font-size: 35px;
        line-height: 41px;
        text-align: start;
    }
}


@media (max-width:768px) {

    .blog__one-comments__post-input {
        margin-bottom: 20px;
    }

    .blog__aside {
        margin-bottom: 30px;
    }
    
    .contact__slide {
        grid-template-columns: repeat(3,1fr);
    }
    .header__btn {
        display: none;
    }

    .menu {
        padding: 0;
    }

    .menu__list {
        gap: 30px;
    }

    .swiper__top-img {
        max-height: 400px;
    }

    .top  {
        height: 579px;
        padding-bottom: 40px;
    }

    .gallery__buttons {
        display: grid;
    }

    .about__wrapper {
        padding: 80px 0;
    }
}


@media (max-width:650px) {

    .blog__one-comments__post {
        margin-bottom: 50px;
    }
    
    .contact-gallery {
        padding-bottom: 50px;
    }

    .about__content-title {
        font-size: 23px;
        line-height: 29px;
    }
    //swiper

    .swiper__top-slide{ 
        display: flex;
        flex-direction: column;
    }

    .swiper__top-img {
        max-height: 300px;
        max-width: 250px;
    }

    .swiper__top-slide-content {
        display: flex;
        gap: 30px;
        align-items: center;
        margin-top: 20px;
    }

    .swiper__top-title {
        font-size: 34px;
        line-height: 35px;
        padding: 0;
    }

    .swiper__top-text {
        margin: 0;
    }

    .swiper__top-title::before {
        content: none;
    }
    
    //collection

    .collection {
        margin-top: 50px;
    }

    .collection__item-wrapper {
        grid-template-columns: repeat(1,1fr);
    }

    //works

    .works {
        padding-bottom: 0;
    }

    .works__content {
        display: flex;
        flex-direction: column;
    }

    .works__card-row::before {
        content: none;
    }

    .works__card-row .works__card:nth-child(2)::before {
        content: none;
    }

    .works__card-row {
        border: none;
        display: flex;
        flex-direction: column;
    }

    .works__card-bottom::before {
        content: none;
    }

    .works__card-bottom {
        margin: 0;
    }

    .works__card {
        margin-bottom: 30px;
        max-width: 100%;
    }

    .works__content {
        display: none;
    }

    .works__content-mobile {
        display: flex;
    }

    .works__card-bottom {
        order: 1;
    }

    .works__card-designer {
    order:3 ;
    }

    .works__card-production {
        order:0;
    }

    //gallery

    .gallery {
        padding: 30px 0;
    }

    //blog

    .blog__wrapper {
        display: block;
    }

    .blog__card-img  {
        width: 100%;
    }

    .blog__card {
        max-width: 100%;
    }

    .blog__card-text {
        margin-bottom: 33px;
        font-size: 20px;
    line-height: 28px;
    }

    .blog { 
        padding: 20px 0;
    }

    .blog__title  {
        font-size: 30px;
    line-height: 36px;
    }

    .decor__wrapper:hover {
        padding-left: 8%;
    }

}



@media (max-width:540px) {

    .contact__slide {
        grid-template-columns: repeat(2,1fr);
    }

    .map {
        margin-top: 0; 
        margin-bottom: 25px;
    }

    .about__wrapper {
        padding: 60px 0;
    }

    .about__wrapper-title {
        font-size: 40px;
    }

    .contact__title {
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    .contact__wrapper {
        padding-bottom: 40px;
    }

    .footer__form {
        margin-bottom: 25px;
    }


.header__inner {
    display: flex;
    padding-top: 40px;
    gap: 0;
    flex-wrap: wrap;

}

.logo {
    order: -1;
    margin: 0;
}

.header__btn-mobile {
    display: flex;
    order: -1;
}

.menu {
width: 100%;
z-index: 20;
background-color: white;
transform: translateY(-300px);
transition: transform .5s;


&__list {
    display: flex;
    flex-direction: column;
    text-align: center; 
    gap: 0;
    
}

}

.menu__open {
    transform: translateY(10px);
    transition: transform .5s;
    height: 390px;
    }
    

.list__item {
    margin-bottom: 15px;
}

.footer__left {
    margin: 0 auto;
}


.gallery__items  {
    grid-template-columns: repeat(2,1fr);
}

.gallery__item:first-child {
    grid-column: 1;
    grid-row: 1;
} 

.swiper__top-slide-content {
    display: block;
    text-align: center;
}

.swiper__top-title {
    margin-bottom: 15px;
    text-align: center;
}



}


@media (max-width:490px) {
    .contact__form-top {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer__wrapper {
        margin-bottom: 20px;
    }

    .footer__right {
        justify-content: space-between;
    }

    .footer__left {
        margin-bottom: 25px;
    }
    
    .footer__social-item,
    .footer__menu-item{
        margin-bottom: 10px;
    }

    .footer__form {
        flex-direction: column;
    }

    .footer__email-btn {
        width: 97%;
    }

    .footer__left-text {
        width: 100%;
    }

}

@media (max-width:450px) {

    .blog__one-comments__post-input {
        width: 100%;
    }

    .blog__tags {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .inspiration__title {
        font-size: 22px;
        line-height: 36px;
    }

    .progress__title {
        margin-right: 16px;
    }

    .gallery__items {
        
        grid-template-columns: repeat(1, 1fr);
    }


}