.breadcrumbs {
    background-color: rgba(#dfdfdf, .5);
    padding: 13px 14px;
}

.breadcrumbs__list {
    display: flex;
}

.breadcrumbs__link {
    font-size: 14px;
    color: $color-text;
}

.breadcrumbs__item::after {
content: '/';
margin-left: -3px;
margin-right: 4px;
}

.breadcrumbs__item:last-child::after {
    content: '';
}

.breadcrumbs__map {
    z-index: 1 !important;
}